<div id="task-modal" class="modal fade " role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="modal-content rounded-0 p-3 task-modal-style priority-<%=if @task.deadline.nil?
                                                      @task.priority
                                                    elsif @task.deadline <= Date.today
                                                      1
                                                    else
                                                      @task.priority
                                                    end %>">

      <div class="task-container">
        <h1><%= @task.name %></h1>
        <div class="task-details-and-actions">

          <div class="task-details-container">
            <p>Description: <%= @task.description %></p>
            <p>Deadline: <%= @task.deadline %></p>
            <p>Priority: <%= @task.priority %></p>
            <p>Done: <%= @task.done %></p>

            <% if @task.done? %>
              <img src="https://media.giphy.com/media/<%=@task.gif_id%>/giphy.gif" alt="">
            <% end %>
          </div>

          <div class="task-actions-container">
            <% if !@task.done %>
              <p class="task-action"><%= link_to "Complete", "/tasks/#{@task.id}/complete", method: :put %></p>
            <% end %>
            <p class="task-action"><%= link_to "Edit", edit_task_path(@task) %></p>
            <p class="task-action"><%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %></p>
          </div>

        </div>

      </div>


    </div>

  </div>
</div>
