<div id="task-modal" class="modal fade " role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content rounded-0 p-3 task-modal-style priority-<%=if @task.deadline.nil?
                                                      @task.priority
                                                    elsif @task.deadline <= Date.today
                                                      1
                                                    else
                                                      @task.priority
                                                    end %>">
<!--       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->

      <div>
         <h1><%= @task.name %></h1>

         <p>Description: <%= @task.description %></p>
         <p>Deadline: <%= @task.deadline %></p>
         <p>Priority: <%= @task.priority %></p>
         <p>Done: <%= @task.done %></p>

         <% if @task.done? %>
           <img src="https://media.giphy.com/media/<%=@task.gif_id%>/giphy.gif" alt="">
         <% end %>


         <p><%= link_to "Edit this task", edit_task_path(@task) %> | <%= link_to "Delete this task",
                                                                                 task_path(@task),
                                                                                 method: :delete,
                                                                                 data: { confirm: "Are you sure?" } %></p>
      </div>
    </div>
  </div>
</div>
