<div class="container">
  <div class="row">

    <div class="col-sm">

      <ul class="nav" id="myTab" role="tablist">
        <li class="nav-item w-50">
          <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo" role="tab" aria-controls="todo" aria-selected="true"><h1>To-do</h1></a>
        </li>
        <li class="nav-item w-50">
          <a class="nav-link" id="completed-tab" data-toggle="tab" href="#completed" role="tab" aria-controls="completed" aria-selected="false"><h1>Completed</h1></a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="todo" role="tabpanel" aria-labelledby="todo-tab">

          <%= link_to new_task_path, class: "task-card-a" do %>
            <div class="task-card new-task">
              <h1>+ NEW TASK</h1>
            </div>
          <% end %>


            <% @tasks.each do |task| %>
              <% unless task.done? %>
                <%= link_to task_path(task), class: "task-card-a" do%>
                  <div class="task-card priority-<%= task.priority %>">
                   <p> <%= task.name%> </p>
                   <p> <%= task.description %> </p>
                   <p> <%= task.deadline %> </p>
                   <p> priority: <%= task.priority %> </p>
                  </div>
                <% end %>
              <% end %>
            <% end %>

        </div>

        <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">

          <% @tasks.each do |task| %>
            <% if task.done? %>
              <%= link_to task_path(task), class: "task-card-a" do%>
                <div class="task-card priority-<%= task.priority %>">
                  <p> <%= task.name%> </p>
                  <p> <%= task.description %> </p>
                  <p> <%= task.deadline %> </p>
                  <p> priority: <%= task.priority %> </p>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
